<%- include('include/header.ejs') %>
<!-- form -->
<div class="row">
    <div class="col-4 d-none d-md-block"></div>
    <div class="col-12 col-lg-4">
        <p>admin</p>
    </div>
    <div class="col-4 d-none d-md-block"></div>
</div>
<%- include('include/footer.ejs') %>

