<%- include('include/header.ejs') %>
<div class="row">
    <div class="col-4"><p>Admin panel 🛠️</p></div>
    <div class="col-4">
        <div class="spinner-border position-absolute top-50 start-50 end-50 bottom-50" role="status" style="font-size: 50px; width: 10rem; height: 10rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
<div class="col-4 text-center"><a class="btn btn-success mx-2" href="/logout">LogOut</a></div>
</div>
<div class="row posts_place"></div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="unApprovedLiveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/images/unapprove.png" class="rounded me-2" alt="saved mark" style="width: 20px; height: 20px">
            <strong class="me-auto"></strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">The image has been successfully unApproved</div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="approveLiveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/images/approve.png" class="rounded me-2" alt="saved mark" style="width: 20px; height: 20px">
            <strong class="me-auto"></strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">The image has been successfully approved</div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="delLiveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="/images/delete.png" class="rounded me-2" alt="delete mark" style="width: 20px; height: 20px">
            <strong class="me-auto"></strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">delete image is in process</div>
    </div>
</div>
<script src="/javascripts/adminValidate.js"></script>
<%- include('include/footer.ejs') %>

