<%- include('include/header.ejs') %>
<div class="row"><div class="col-12 text-center"><p>Admin panel</p></div></div>
<hr>
<!-- form -->
<div class="row posts_place">
</div>
<script src="/javascripts/adminValidate.js"></script>
<%- include('include/footer.ejs') %>

