<%- include('include/header.ejs') %>
    <!--br-->
    <!-- show ads head -->
    <div class="row"><div class="col-12 text-center"><h2>approved ads</h2></div></div>
    <hr>
    <!-- show the ads here -->
    <div class="row text-center">
      <div class="col-4 text-center"></div>
      <div class="col-4 text-center"></div>
      <div class="col-4 text-center"><a class="btn btn-success mx-2" href="/newPost">new add</a></div>
    </div>
<br>
    <div class="row posts_place text-center"></div>
<br>
  </div>
<script src="/javascripts/landingPage.js"></script>
<%- include('include/footer.ejs') %>
