<%- include('include/tiny_head.ejs') %>
<div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">
            <h2><%= title %></h2>
            <p>Server say:</p>
            <p><%= message %></p>
            <a class="btn btn-secondary mx-2" href="/newPost">Add Post page</a>
            <a class="btn btn-secondary mx-2" href="/">Home Page</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<%- include('include/tiny_footer.ejs') %>
